<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>{% if page.title %}{{ page.title }} - {% endif %} intersession</title>
    <link rel='alternate' type='application/atom+xml' title='Intersession' href='http://macwright.org/intersession/atom.xml' />
    <link rel='stylesheet' href='{{site.baseurl}}css/site.css' type='text/css' media='screen, projection' />
    <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
</head>
<body class='{{page.class}}'>
  <div class='wrapper'>
    <h1>Intersession</h1>
    <div class='content'>
      {{ content }}
    </div>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e36eb1ef5a1f53d6f000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
